<section class="polyboard" style="background:url(/static/img/polyboarder_bg.png)">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <div class="intro animate fadeIn">
                    <h1 style="color:#B8B6B6">社交网络舆情监督系统<small>V1.0</small></h1>
                    <p class="lead">Social Network Public Opinion Monitoring System is mainly designed for regulatory spread of social networks and the influence of public opinion.</p>
                    <a href="https://github.com/wh1100717/xweibo" target="_blank" class="demo-button">View Demo on Github</a>
                    <!--<a class="btn btn-lg btn-primary" href="" role="button">Fork on GitHub »</a>-->
                </div>
            </div>
        </div>
    </div>
</section>
<section class="what-we-do">
    <div class="container">
        <div class="section-title">
            <span>WHAT WE DO</span>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h2>Friends</h2>
                <P>We can get:friends geographical distribution,the number of reposts and comments,the information of friends,the number of friends,etc.</P>
            </div>
            <div class="col-md-4">
                <h2>Micro-Bo</h2>
                <p>We can get the number of micro-Bo released within a week by Sina API.Through word clustering method, compared with the hot words, get the matching degree;The curves of the number of the reposted-micro-Bo over time.</p>
            </div>
            <div class="col-md-4">
                <h2>Influence</h2>
                <p>We use an improved algorithm based on pagerank algorithm to get people's influence in Social Network.</p>
            </div>
        </div>
        <a href="https://github.com/wh1100717/xweibo">See our process <i class="icon-angle-right"></i></a>
    </div>
</section>

<section class="featured-work">
    <div class="container">
        <div class="section-title">
            <span>Let's start!</span>
        </div>
        <div class="row">
            <form action="/sina/userinfo" method="post">
            <div class="row" style="margin-top: 88px; margin-bottom: 88px;">
                <label class="col-sm-4 control-label no-padding-right" for="form-field-1" style="text-align: right;">
                    用户昵称
                </label>
                <div class="col-sm-4">
                    <input type="text" id='screen_name'placeholder="昵称" class="col-xs-10 col-sm-10" name="screen_name"/>
                </div>

                <div class="col-sm-4" style="text-align: left;">
                    <button  type="submit" class="btn btn-default" >确认</button>
                </div>
            </div>
            </form>
        </div>
    </div>
</section>

