<div class ="data-container">
    <h1>实时转发数据</h1>
    <div id="container-status-realtime" style="height: 500px; min-width: 600px;padding-bottom: 50px;"></div>
</div>


<div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

<script src="../static/highstock/js/highstock.js"></script>
<script src="../static/highstock/js/modules/exporting.js"></script>
<script src="../static/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="../static/js/influence.js"></script>

<script type="text/javascript" src="../static/jquery-1.11.0.min.js"></script>
<script src="../static/highcharts/js/highcharts.js"></script>

<script src="../static/highcharts/js/modules/data.js"></script>